.sidebarContainer {
    width: 250px;
    padding: 15px;
    border-right: 1px solid #ddd;
    font-family:var(--font-poppins);
    font-size: 14px;
  }
  

  .checkboxLabel {
    display: block;
    margin-bottom: 15px;
  }
  
  .input[type="checkbox"] {
    margin-right: 5px;
  }
  
  @media (min-width:768) {
    
  }