.mainContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap:10px; 
  padding: 10px; 
 }

@media (max-width: 1200px) {
  .mainContainer {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 900px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr); 
   }
}

@media (max-width: 700px) {
  .mainContainer {
    grid-template-columns: repeat(1,1fr); 
    padding:0;
    
   }
}

















