.container {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width:100%;
  height:auto;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.imageContainer {
position: relative;
width: 100%;
height: 399px;
object-fit: cover;
object-position: center; 
}



.newProduct {
  position: absolute;
  top: 16px;
  left: 16px;
  color:var(--textColor);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  z-index:1;
}

.stockOut {
 background-color: white;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color:var(--textColor);
  text-align:center;
  font-weight: bold;
  z-index: 1; 
  font-weight:700;
  font-size:20px;
  padding:20px;
  opacity:0.8;

}





.actions {
  display: flex;
  align-items: center;
  line-height:40px;
 }


 .linksDiv {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  flex-wrap: nowrap; 
  gap: 4px; 
  white-space: nowrap; 
}

.link {
  text-decoration: none;
  color: #888792; 
  font-size: 14px;
}

.spacing {
  margin: 0;
  color: #888792; 
}



.favoriteButton {
background-color: transparent;
  border: 2px solid #ffffff;
  padding:5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;

}
.icon{
  width:24px;
  height:24px;
  border: #000;
}
.favoriteButton svg path {
  fill:#ffffff;

}

.link{
  text-decoration: none;
}


@media (max-width:768) {
  .container {
    overflow: hidden;
    width:168px;
    height:277px;
  }
  .imageContainer{
    width: 100%;
    height:224px;
   
  }
}


